$lgFont: 16px;
$mdFont: 14px;
$smFont: 12px;

@import "./components/sectionOne";
@import "./components/sectionTwo";
@import "./components/sectionThree";
@import "./components/sectionFour";
@import "./components/sectionFive";

html {
	body {
		min-width: 1280px;
        background-color: white;
	}
}

.title {
	font-size: 20px;
	margin-left: 20px;
}

.section {
	padding: 20px 20px;
}

label {
    font-weight: normal;
}

